<% include partials/header %>
<link rel="stylesheet" href="stylesheets/evolution.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Courgette|Permanent+Marker|Satisfy" rel="stylesheet">	
    <br>
    <h1 align="center">E V O L U T I O N</h1>
    <hr width="80%" height="150px" color="black">
    <center><iframe width="720" height="315" src="https://www.youtube.com/embed/z2che2XjMCI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <hr width="80%" height="150px" color="black">
    <div class="container">
        <div class="row">
    	<div class="col-md-8 col-sm-12">
            <h2> What is evolution ?</h2>
        	<p>
                In biology, evolution is the change in the characteristics of a species over several generations and relies on the process of natural selection.Evolution relies on there being genetic variation? in a population which affects the physical characteristics (phenotype) of an organism.Individuals with characteristics best suited to their environment are more likely to survive, finding food, avoiding predators and resisting disease. These individuals are more likely to reproduce and pass their genes on to their children.
        	</p>
    	</div>	
        <div class="col-md-4 col-sm-12">
            <h4><em>The mysteries of evolution of life unfurled (Resources):</em></h4>
            <ul>
                <li>
                    <a href="https://news.nationalgeographic.com/news/2010/05/100513-science-evolution-darwin-single-ancestor/">All Species Evolved From Single Cell, Study Finds</a>
                </li>
                <li>
                    <a href="https://www.wired.com/2014/08/where-animals-come-from/">HOW LIFE MADE THE LEAP FROM SINGLE CELLS TO MULTICELLULAR ANIMALS</a>
                </li>
                <li>
                    <a href="https://phys.org/news/2016-04-cell-evolved-multicellular-life.html">How and why single cell organisms evolved into multicellular life</a>
                </li>
                <li>
                   <a href="https://astrobiology.nasa.gov/news/how-did-multicellular-life-evolve/">How Did Multicellular Life Evolve?</a> 
                </li>
            </ul>    

        </div>
    	</div>
    </div>
    <script type="text/javascript">
        $("nav ul li").on("click",function(){
        $(this).classList.add("active");
        });
    </script>
    <% include partials/footer %>